.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.navcontent {
  width: 100%;
  height: 60px;
  background-color: #2a65b4;
  color: white;
}

.main_content {
  display: flex;
  flex: 1;
}

.menu {
  width: 240px;
  flex-shrink: 0;
  background-color: white;
  color: black;
}
.childcontent {
  flex: 1;
}
